<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Phoenix!</title>
    <link rel="stylesheet" href="/css/phoenix.css">
  </head>

  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="http://www.phoenixframework.org/docs">Get Started</a></li>
        </ul>
        <span class="logo"></span>
      </div>

      <%= @inner %>

      <div class="footer">
        <p><a href="http://phoenixframework.org">phoenixframework.org</a></p>
      </div>

    </div> <!-- /container -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/js/phoenix.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(function(){
        var url = "ws://" + location.host + "/ws";
        console.log(url);
        var socket = new Phoenix.Socket(url);
        var $messages = $("#messages");
        var $messageInput = $("#message-input");
        var $usernameInput = $("#username");
        socket.join("rooms", "username", function(chan) {
          chan.on("user:entered", function(message) {
            $messages.append("<br />[" + message.username + "] entered");
          });
          chan.on("new:message", function(message) {
            console.log(message);
            console.log("asdfasdf");
            $messages.append("<br />[" + message.username + "] " + message.content);
          });
          $messageInput.off("keypress").on("keypress", function(e) {
            if (e.keyCode == 13) {
              chan.send("new:message", {
                content: $messageInput.val(),
                username: $usernameInput.val()
              });
              $messageInput.val("");
            }
          });
        });
      });
    </script>
  </body>
</html>
